# Chat API 配置
VITE_CHAT_API_URL=http://kno.fridgechannels.com/v1/chat-messages
VITE_CHAT_API_TOKEN=app-ud8rXy1MeIY87Bv0Q79hLeFT

# Workflow Run API（首屏推荐问题，blocking）
VITE_WORKFLOW_RUN_URL=http://kno.fridgechannels.com/v1/workflows/run
VITE_WORKFLOW_RUN_TOKEN=app-lHBkLka0SmVCSxOEruqW5xYE
